[submodule "dwm/src"]
	path = dwm/src
	url = https://git.suckless.org/dwm
[submodule "dmenu/src"]
	path = dmenu/src
	url = https://git.suckless.org/dmenu
[submodule "slock/src"]
	path = slock/src
	url = https://git.suckless.org/slock
[submodule "dwmblocks/src"]
	path = dwmblocks/src
	url = git@github.com:torrinfail/dwmblocks.git
